main{
  min-height: 80vh;
  background-color: #1a1a1a;
}

a:link {
  text-decoration: none;
}

h3{
  padding: 1rem;
}
.rating span{
  margin: 0.1rem;

}

.navbar{
  background-color: #1a1a1a;
}

footer{
  background-color: #1a1a1a;
}

.navbar .navbar-toggle  {
  color: #ffff;
}

.navbar .navbar-nav .nav-link {
  color: #ffff;
}

.product-name{
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}